.header {
    text-align: center;
   /* color: green;*/
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 12px;
    text-align: center;
}

/*table th {
    background-color: white;
    color: white;
}*/
